@charset "utf-8";
// mixin ブレイクポイント；990,767
// $pc:1440px;
$tab:990px;
$sp:767px;

@mixin tab  {
    @media (max-width:($tab))  {
        @content;
    }
}
@mixin sp  {
    @media (max-width:($sp))  {
        @content;
    }
}

// 変数
// カラー
$color-black: #282F35;
$color-blue: #75A1BA;
$color-white: #FFFFFF;
$color-red: rgb(197,6,31);
$background-gray: rgba(212, 212, 212, 0.356);


/* --------------------------------------------------------
    共通パーツ
  -------------------------------------------------------- */
  body {
    font-family: 'Noto Serif','Noto Serif JP';
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    @include tab{
      padding: 0 30px;
    }
}


/* --------------------------------------------------------
  各セクションのCSS
  -------------------------------------------------------- */
// start header
.header{
    width: 100%;
    position: fixed;/* bodyに対しての絶対位置指定 */
    top: 0;
    z-index: 999;
    background-color: $color-black;
    &__container{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        padding: 0 30px;
        @include tab{
          width: 100%;
          padding: 0 30px;
        }
        @include sp{
          height: 45px;
        }
    }
    &__logo{
        width: 120px;
        height: auto;
        @include sp{
          width: 76px;
        }
    }
    &__list{
        display: flex;
        @include sp{
          display: none;
        }
    }
    &__item{
        color: $color-white;
        font-size: 14px;
        padding-right: 40px;
    }
}
// ハンバーガーメニュー追加
.sp-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: $color-black;
  text-align: center;
  // 彈出視窗從左
  transform: translateX(-100%);
  transition: all 0.6s;
  width: 100%;
  height: 100%;
  &__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;// sp-nav 垂直
      justify-content: center;// sp-nav 垂直中央
  }
  &__item {
      font-size: 14px;
      color: white;
      margin-bottom: 40px;
  }
  &__link {
      display: block;

      &:hover {
      transform: scale(1.25);
      }
  }
}

/* このクラスを、jQueryで付与・削除する */
.sp-nav.active {
  transform: translateX(0%);
}
.navToggle {
display: none;
@include sp {
  display: block;
  position: absolute;
  /* bodyに対しての絶対位置指定 */
  right: 15px;
  top: 15px;
  // margin-top: 8px;
  // pointer 範囲設定
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
  &__span {
      display: block;
      position: absolute;    /* .navToggleに対して */
      width: 25px;
      border-bottom: solid 2px #FFFFFF;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
      left: 0px;
      &:nth-child(1) {
          top: 0px;
      }
      &:nth-child(2) {
          top: 8px;
      }
      &:nth-child(3) {
          top: 16px;
      }
  }
}
}
/* 最初のspanをマイナス45度に */

.navToggle.active span {

  &:nth-child(1) {
      top: 8px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
/* 2番目と3番目のspanを45度に */
  &:nth-child(2),&:nth-child(3) {
      top: 8px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
  }
}
// end ハンバーガーメニュー
// end header
// start mv
.mv{
  width: 100%;
  background-image: url(../img/mv/bruce-mars-gJtDg6WfMlQ-unsplash.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  height: 46vh;
  display: table;
  @include sp{
    margin-top: 45px;
    height: 46vh;


  }
  &__content{
    text-align: center;
    display: table-cell;
    vertical-align: middle;

  }
  &__ttl{
    font-size: 38px;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 0 0 1.5em $color-white, 0 0 1.5em $color-white;
    color: $color-black;
    @include tab{
      font-size: 28px;
    }
    &-span{
      font-size: 26px;
      @include tab{
        font-size: 20px;
      }
    }
  }
}


.contact {
  padding:109px 0 50px;
  color: $color-black;

  &__title{
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 51px;
      display: flex;// 文字後ろに線を入れる
      align-items: center;// 文字後ろに線を入れる
      justify-content: center;
      // 文字後ろに線を入れる
      &::after {
        content: "";
        height: 2px;
        width: 20%;
        background-color: $color-black;
        margin-left: 30px;
        @include tab{
          width: 10%;
        }
        }
        &::before {
          content: "";
          height: 2px;
          width: 20%;
          background-color: $color-black;
          margin-right: 30px;
          @include tab{
            width: 10%;
          }
          }
          // @include tab{
          //   font-size: 16px;
          // }
  }
  &__box {
      max-width: 550px;
      width: 100%;
      margin: 20px auto 0;
  }
  &__item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
  }
  &__label {
      font-size: 14px;
      color: $color-black;
      margin-bottom: 10.5px;
  }
  &__note {
      // display: inline-block;
      background-color: $color-black;
      color: $color-white;
      font-size: 10px;
      height: 16px;
      line-height: 10px;
      padding: 2px 10px;
      border-radius: 2px;
      margin-left: 8px;
  }
  &__text-input {
      width: 100%;
      padding: 7px 10px;
      border: 1px solid #707070;
      font-size: 12px ;
      height: 6vh;
  }
  &__inner{
      margin-top: 50px;
      text-align: center;
  }
  &__button{
      width: 180px;
      height: 40px;
      font-size: 14px;
      text-align: center;
      border: 1px solid $color-black;
      color: $color-black;
      line-height: 40px;
      border-radius: 25px;
      &:hover{
          opacity: 0.7;
          cursor: pointer;
          //変化時間
          -webkit-transition: 0.6s;
      }
  }
  // フォーム送信時に表示されるメッセージ
  &__end-message {
      display: none;
      text-align: center;
  }
  &__false-message {
      display: none;
      text-align: center;
  }
}
// 入力不完全の時ボタン押せないの状態
// .button--disabled[disabled] {
// opacity: 0.2;

// }

// --------------------------------------------------------
// jQuery Validation-Engine フォームバリデーション
// --------------------------------------------------------
.formError {
  margin-top: -20px;
  left: 60% !important;// jQueryのデフォルトの設定を上書き

  @include tab{
      left: 50% !important;// jQueryのデフォルトの設定を上書き
      margin-top: -15px ;
      text-align: justify;
  }
}
//   .yournameformError{
//         margin-top: -20px;
//   }
//   .contentformError{
//         margin-top: -20px;
//         left: 50% !important
//   }
.formError .formErrorContent {
  background: $color-red;
  color: white;
  font-size: 13px;
  border: none;
  box-shadow: none;
  padding: 8px 12px 6px;
  border-radius: 4px;
  line-height: 1.5;
  padding: 5px;
  margin: -10px;
  @include tab{
    font-size: 10px;

  }
}
// end jQuery Validation-Engine フォームバリデーション
// start footer
.footer{
  height: 50px;
  background-color: #DCDCDC;
  text-align: center;
  &__copy{
    font-size: 14px;
    color: $color-white;
    line-height: 50px;
    @include tab{
      font-size: 12px;
    }
  }
}






